/* parent-page.css
* 
* Refer to main ui script for DOM structure -
* src/ui/ui-manager.js on 06/18/17
* on 12/20/16).
*/

/*
* Cannot get rid of scrollbars while retaining scrolling
* http://stackoverflow.com/questions/3296644/hiding-the-scrollbar-on-an-html-page
* https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-still-being-able-to-scroll
* very simple example of alternative: https://jsfiddle.net/fpd4fb80/1/ (without iframe)
* example with iframe: https://jsfiddle.net/fpd4fb80/31/
*/
#__tt_iframe {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 4300200100;
}

#__tt_iframe {
	border: 0;
}
