/* settings.css
* 
* Refer to main settings script. For DOM structure, see
* (currently none) (12/20/16) .
* 
* Affects main settings, settings modules, and playback.
* (this controls buttons, but playback has buttons too)
* Consider name change.
*/

/* ============================== */
/* SKIN */
/* ============================== */
/* Should this be in iframe.css? */
#__tt button {
  position: relative;
  padding: 0;
  /* functional */
  cursor: pointer;
}

/*#__tt button,*/
/*#__tt label,*/
#__tt input {
  /* font defaults from chrome inspection */
  font-size: 16px;
/*  line-height: normal;
  font-style: normal;
  font-weight: normal;
  font-variant: none;
  font-stretch: normal;
  font-feature-settings: normal;
  font-kerning: auto;
  -webkit-font-smoothing: auto;
  text-transform: none;*/
}

/* TODO: */
.__tt_menu_button {}

#__tt .__tt-big-menu-button {
  width: 3em;
  height: 3em;
  /* default followed by desired setting */
  margin: 0;
}

#__tt #__tt_bar_left .__tt-big-menu-button {
  margin-right: .3em;
}

#__tt #__tt_bar_right .__tt-big-menu-button {
  margin-left: .3em;
}

.__tt-sup-menu-button {
  position: relative;
  top: 0;
  right: 0;
  width: 1.5em;
  height: 1.5em;
  margin: 0;
}

#__tt .__tt-auto-menu-button {
  width: auto;
  height: 1.5em;
  margin: 0;
  margin-right: .3em;
  margin-bottom: .3em;
}

/* Solution to transition? https://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css#8331169 */
/* See comments on the thread */
#__tt_settings_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#__tt_settings_tabs,
#__tt_settings_menus,
.__tt_settings_menu {
  position: relative;
  width: 100%;
}

#__tt_settings_tabs {
  display: flex;
  justify-content: center;
  height: auto;
  font-size: 1.23em;
  overflow: hidden;
}

.__tt-settings-tab {
  flex-grow: 1;
  padding: 0.1em;
  display: flex;
  justify-content: center;
}

#__tt_settings_menus {
  height: auto;
  text-align: center;
}

#__tt .__tt-settings-menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 .5%;
}

#__tt .__tt-setting {
  /* For more visibility, try even more vertical padding */
  position: relative;
  /* % causes weird rendering to happen in flexbox (maybe others too?) */
  /*padding: 1.3% 1.5%;*/
  padding: 13px;
}

#__tt .__tt-slider-controls {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
}

#__tt .__tt-slider-input {
  text-align: center;
  width: 3.5em;
  height: 1.6em;
  font-size: 16px;
  margin-right: 0.3em;
  padding: 0;
}

#__tt .__tt-slider {
  display: inline-block;
  width: 150px;
  height: 10px;
}



/* ============================== */
/* SKIN */
/* ============================== */
/*#__tt_below_bar .__tt-section-open {
  border-bottom: 0;
}*/

#__tt_settings_container {
  background-color: rgba( 230, 230, 230, 1);
}

#__tt_settings_tabs {
  border-bottom: 1px solid gray;
}
#__tt_settings_tab {
  border-right: 1px solid gray;
}
#__tt_settings_tabs:last-child {
  border-right: 0;
}


#__tt .__tt-slider-label {
  font-size: 21px;
}

#__tt .__tt-slider-input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 3px rgba(179, 179, 179, 1);
  -moz-box-shadow: inset 1px 1px 3px rgba(179, 179, 179, 1);
  box-shadow: inset 1px 1px 3px rgba(179, 179, 179, 1);
  /* Inset look with better color control */
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid rgba(180,180,180, 1);
  border-bottom: 2px solid rgba(180,180,180, 1);
}

#__tt .__tt-slider-input:focus {
  border: 1px solid #3498db;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
